body {
    
    background-color: brown;
    font-family: 'Oxygen', sans-serif;
    color: #fff;
    font-size: 16px;
}

/* Navigation Bar styling*/

#header-nav {
    
    border: 0;
    border-radius: 0;
    padding: 20px;
    border: solid #E1B854 2px;
    background-color: #E1B854;
}

 .navbar-header button.navbar-toggle , .navbar-header .icon-bar{
    border: solid 1px #A52A2A;
}

.navbar-header button.navbar-toggle:hover{
    background-color: #ffe4c4;
}

.navbar-brand h1{
    font-weight: bold;
    color: #A52A2A;
    font-size: 1.7em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 0.75;
}

#nav-list a {
    color: #A52A2A;
    text-align: center;
    font-weight: bold;
}

#nav-list a:hover{
    background-color: bisque;
}


/* Main content styling*/

#main-title{
    margin-top: 30px;
}

#main-title span{
    font-size: 1.8em;
    color: #ffffff;
}


#menu-item section{
    margin-top: 80px; 
    margin-bottom: 80px;
    padding-bottom: 20px;
    border: solid 2px #E1B854;
    border-radius: 1px;
    background-color: #9B0404;
}

#menu-item section span h2{
    text-align: center;
    color: #E1B854;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 15px;
}

#menu-item section p{
    color: #ffffff;
}

@media (max-width: 772px) {
    #menu-item {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}








